/* 
        h1 {
            position: absolute;
    width: 174px;
height: 47px;
left: 261px;
top: 154px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;


text-align: center;
color: #000000;
    }
    .button {
        position: absolute;
        width: 291px;
        height: 64px;
        right: 261px;
        top: 164px;
        
        background: #0F4C81;
        border-radius: 12px;
    }
.Produto{
    
    left: 261px;
    top: 172px;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 186;
    height: 186;

}

.content{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.content-img{
    width:200px;
    background-color: blue;
    justify-content: left;
}
.content-name{
    background-color: yellow;
    flex-direction: column;

}
.content-action{
    width:200px;
    background-color: green;
}
.img {
    width:200px;
    
    justify-content: left;
}
.name .descricao .valor .cor {
    background-color: yellow;
    flex-direction: column;
}
.container {
    flex-direction: row;
} */
.topo{
    display: flex;
    justify-content: space-between;
    
}
.adicionar {

background: #0F4C81;
border-radius: 12px;

}