
.file {
        margin-bottom: 15px;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        border: 1px dashed;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 1px;
        padding-left: 5px;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

.botaofile {
    display: none;
}


    .titulos h1{
    margin-left: 120px;
    margin-top: 5px;
    font-family: "Raleway" sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #353535;
    line-height: 47px;
    margin-left: 135px;
    }

.imagem {
    width: 150px;
        height: 150px;
        z-index: 1;

}
nav.links{
    margin-right: 1300px;
    margin-top: 20px;
}