.img {
width: 130px;
height: 130px;
justify-self: left;
left: 80px;
position: relative;
}

.img img{
    height: 150px;
    width: 150px;
    z-index:0;
    object-fit: contain;
    justify-self: left;
    margin-left: 70px;
}

.content-product{
    display:flex;
    flex-direction: row;
    margin-top: 60px;

}

.details{
    justify-content: start;
    display: flex;
    flex-direction: column;
    flex:1;
    left: 448px;
    justify-content: left;
    text-align: left;
    margin-left: 180px;

}
.details .valor {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120%;
margin-left: 100px;
    margin-top: 20px;
/* or 38px */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Blue 2 */

color: #0F4C81;
}
.details .cor{
    margin-left: 100px;
    margin-top: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.details .camera {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
font-feature-settings: 'pnum' on, 'lnum' on;

/* Cinza */

color: #353535;
}
.action{
    width:200px;
    background-color: red;
    left: 1394px;
    margin-left: 800px;
}


.camera {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.descricao{
    font-family: Raleway;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 47px;
    margin-left: 100px;
    margin-top: 20px;
}