.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    position: absolute;
    width: 771.5px;
    height: 42px;
   
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
    
}

.form_control input {
    padding: .7em;
    border-radius: 0;
    border: none;
    width: 803.5px;
    height: 62.5px;
}

.form_control input::placeholder {
    color: #7b7b7b;
}
